snippet date
`date +'%Y/%m/%d'`
endsnippet

snippet date-
`date +'%Y-%m-%d'`
endsnippet

snippet datetime
`date +'%Y/%m/%d %H:%M'`
endsnippet

snippet 0-9 "0-9" i
0123456789
endsnippet

snippet a-z "a-z" i
abcdefghijklmnopqrstuvwxyz
endsnippet

snippet a-Z "a-Z" i
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
endsnippet

snippet A-Z "A-Z" i
ABCDEFGHIJKLMNOPQRSTUVWXYZ
endsnippet
