snippet ::d "Date Header"
:: `!v bulletnotes#GetFriendlyDate()` ::
endsnippet

snippet '^- meeting' "Meeting Template" r
:: Attendees ::

- $0


:: Context ::

-


:: Questions ::

?


:: Notes ::

-
endsnippet

snippet contact
@@ $1 @@
- Name: $2
- Email: $3
- Role: $4
endsnippet
