snippet ::d "Date Header"
:: `!v bulletnotes#GetFriendlyDate()` ::
endsnippet

snippet '^- meeting' "Meeting Template" r
:: Attendees ::
- $1

:: Questions ::

:: Notes ::
- $0
endsnippet

snippet contact
@@ $1 @@
- Name: $2
- Email: $3
- Role: $4
endsnippet
