snippet openapi "OpenAPI Prompt" b
Convert the following into a valid YAML OpenAPI document; make sure to all of
the fields are marked as required except those explicitly marked with
"optional".

\`\`\`md
`!v @"`$0
\`\`\`
endsnippet

snippet dne "Do not explain" 
Do not provide an explanation.
endsnippet
