snippet html "HTML Doc"
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>$1</title>
</head>
<body>
  $0
</body>
</html>
endsnippet

snippet script "JavaScript tag"
<script src="$0"></script>
endsnippet

snippet style "Style link"
<link rel="stylesheet" href="$0">
endsnippet
