snippet changelog "Changelog"
# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/).

## [Unreleased]
endsnippet

snippet un "unreleased" b
## Unreleased

### $1

- $0
endsnippet

snippet jira "Jira (for changelog)"
[$1](`echo $JIRA_BASE_PATH`/browse/$1):
  $0
endsnippet
