snippet fore "For Each"
for $1 in $2:
    $0
endsnippet

snippet fori
for i in range($1):
    $0
endsnippet


snippet a-z "a-z" i
abcdefghijklmnopqrstuvwxyz
endsnippet


snippet A-Z "A-Z" i
ABCDEFGHIJKLMNOPQRSTUVWXYZ
endsnippet


snippet a-Z "a-Z" i
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
endsnippet


snippet 0-9 "0-9" i
0123456789
endsnippet
