snippet s "Regular Snippet"
snippet $1
$0
``endsnippet
endsnippet

snippet sd "Regular Snippet with Description"
snippet $1 "$2"
$0
``endsnippet
endsnippet

snippet r "Regexp Snippet"
snippet '$1' "$2" r
$0
``endsnippet
endsnippet

snippet rb "Regexp (b) Snippet"
snippet '$1' "$2" rb
$0
``endsnippet
endsnippet
