snippet sec "Section"
\section{$1}

  $0
endsnippet


snippet ssec "Sub Section"
\subsection{$1}

  $0
endsnippet


snippet sssec "Sub Sub Section"
\subsubsection{$1}

  $0
endsnippet

snippet beg "Beginning/End"
\begin{$1}
  $0
\end{$1}
endsnippet
