snippet sec "Section"
\section{$1}

  $0
endsnippet


snippet ssec "Sub Section"
\subsection{$1}

  $0
endsnippet


snippet sssec "Sub Sub Section"
\subsubsection{$1}

  $0
endsnippet

snippet beg "Beginning/End"
\begin{$1}
  $0
\end{$1}
endsnippet

snippet fig "Figure"
\begin{figure}
	\makebox[\textwidth][c]{\includegraphics[width=1.3\textwidth]{$1}}
	\caption{${2:TODO: Caption}
	\label{fig:$3}
\end{figure}
endsnippet

snippet /r/ "Reference" r
\hyperref[$1]{$1}
endsnippet
