post_expand "vim.command('set ft=openapi.yaml')"
snippet openapi "OpenAPI" b
openapi: 3.1.0
info:
  title: "Hello World API"
  description: "This is a simple Hello World API."
  version: 0.0.0

paths:
  /hello-world:
    get:
      summary: "Returns a 'Hello World' message"
      responses:
        200:
          description: "A successful response with the 'Hello World' message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HelloWorldResponse"

components:
  schemas:
    HelloWorldResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: "Hello World"
endsnippet

snippet eslint ".eslintrc.yml" b
env:
  browser: true
  es2021: true
extends: eslint:recommended
overrides: []
parserOptions:
  ecmaVersion: latest
  sourceType: module
rules: # 0 = off, 1 = warn, 2 = error
  'block-scoped-var': 2
  'eqeqeq': 1
  'no-prototype-builtins': 0
  'no-trailing-spaces': 1
  'no-var': 2
  'prefer-const': 1
  'prefer-template': 1
  'require-await': 1
  'semi': 2
ignorePatterns:
  - 'bundle.js'
  - '*.min.js'
  - '*.map'
#globals:
#  'dayjs': readonly
#  'dayjs_plugin_advancedFormat': readonly
endsnippet

snippet protochat "Protochat" b
model: gpt-4-1106-preview

messages:
- role: system
  #file: system.md
  text: >-
    You are a helpful assistant
- role: user
  text: >-
    Say "Hello World"
endsnippet
